.header-bg-color {
  background-color: #191C0F;
  color: #E3DDCB;
}
.button-collape {
  background-color: #E3DDCB;
}
.nav-item {
  color: #E3DDCB;
}
.nav-item:hover {
  color: #191C0F;
  background-color: #E3DDCB;
}
.footer {
  background-color: #191C0F;
  color: #E3DDCB;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  width: 100%;
}
.intro-image {
  background-image: url('../images/main-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  width: 100%;
}
.intro-dim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.3)
}
.dev-name {
  font-size: 100px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
  color: white;
  text-align: center;
  line-height: 120px;
}
.dev-detail {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #E9E6BB;
  width: 70%;
}
.menu-item {
  width: 150px;
  display: flex;
  justify-content: space-around;
}
a .menu-item {
  color: black;
}
.form-items {
  margin-top: 10px;
}
.sub-header {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
.submit {
  background-color: #9B8863;
  color: white;
}
.submit:hover {
  background-color: #5B5D50;
  color: white;
}
.social {
  display: flex;
  justify-content: space-around;
}
.social-links {
  font-size: 50px;
  margin: 5px;
  display: inline-block;
}
.facebook a {
  color: #4468b0;
}
.facebook a:hover {
  color: #6680d2;
}
.twitter-color a {
  color: #50b4f2;
}
.twitter-color a:hover {
  color: #7bd6f4;
}
.github-color a {
  color: #25292e;
}
.github-color a:hover {
  color: #555;
}
.linkedin-color a {
  color: #1178b3;
}
.linkedin-color a:hover {
  color: #55abf7;
}
.overflow-color a {
  color: #f27f33;
}
.stack-overflow-color a:hover {
  color: #f70;
}
.project-description {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.9);
  bottom: 0px;
  /*display: none;*/
  color: white;
  width: calc(100% - 30px);
  word-wrap: break-word;
  height: 150px;
}
.project-description h2 {
  font-size: 20px;
}
.project-description p {
  font-size: 16px;
}
.preview {
  font-size: 20px;
}
.preview a {
  color: white;
}

/* Styling for tablets*/
@media only screen
and (max-device-width: 900px) {
  .intro-image {
    height: 540px;
  }
  .dev-name {
    font-size: 70px;
  }
  .dev-detail {
    font-size: 30px;
  }
}

/* Styling for phones*/
@media only screen
and (max-device-width: 600px) {
  .intro-image {
    height: 500px;
  }
  .dev-name {
    font-size: 30px;
  }
  .dev-detail {
    font-size: 20px;
  }
  .footer {
    font-size: 12px;
  }
}
