.header-color {
  background-color: #191C0F;
  color: #E3DDCB;
}
.nav-item {
  color: #E3DDCB;
}
.nav-item:hover {
  color: #191C0F;
  background-color: #E3DDCB;
}
.footer {
  background-color: #191C0F;
  color: #E3DDCB;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  width: 100%;
}
.intro-image {
  background-image: url('../images/main-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 840px;
}
.dev-description {
  float: right;
  padding-right: 10px;
}
.dev-name {
  font-size: 100px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
  color: white;
  display: block;
  text-align: center;
}
.dev-detail {
  display: block;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #191C0F;
}
.form-items {
  margin-top: 10px;
}
.sub-header {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px; 
}
.submit {
  background-color: #9B8863;
  color: white;
}
.submit:hover {
  background-color: #5B5D50;
  color: white;
}
.social {
  text-align: center;
}
.social-links {
  font-size: 50px;
  margin: 5px;
}
.social-links.email {
  font-size: 30px;
  line-height: 50px;
}
.social a {
  color: #9B8863;
}
.social a:hover {
  color: #E3DDCB;
}